{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{ seo_settings.title }}</title>
        <meta name="description" content="{{ seo_settings.description }}"/>
        <meta name="keywords" content="{{ seo_settings.keywords }}"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <style>
            .navbar-inverse .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E") !important;
            }
        </style>
        <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.gif' %}" />
    </head>
    <body id="page-top">
        <!-- Navigation Start -->
        {% include 'home/_partial/navigation.html' %}
        <!-- //Navigation End -->

        <!-- Section - Home Start -->
        {% include 'home/_partial/sections/home.html' %}
        <!-- //Section - Home End -->

        <!-- Intro Start -->
        {% include 'home/_partial/sections/intro_start.html' %}
        <!-- //Intro End -->

        <!-- Section - About Start -->
        {% include 'home/_partial/sections/about.html' %}
        <!-- //Section - About End -->

        <!-- Section - Fun Facts Start -->
        {% include 'home/_partial/sections/facts.html' %}
        <!-- //Section - Fun Facts End -->

        <!-- Section - Why Us Start -->
        {% include 'home/_partial/sections/why_us.html' %}
        <!-- //Section - Why Us End -->

        <!-- Section - Skills Start -->
        {% include 'home/_partial/sections/skills.html' %}
        <!-- //Section - Skills End -->

        <!-- Section - Services Start -->
        {% include 'home/_partial/sections/services.html' %}
        <!-- //Section - Services End -->

        <!-- Section - Quote Start -->
        {% include 'home/_partial/sections/quote.html' %}
        <!-- //Section - Quote End -->

        <!-- Section - Pricing Start -->
        {% include 'home/_partial/sections/pricing.html' %}
        <!-- //Section - Pricing End -->

        <!-- Section - Testimonial Start -->
        {% include 'home/_partial/sections/testimonial.html' %}
        <!-- //Section - Testimonial End -->

        <!-- Section - Job Scheme Start -->
        {% include 'home/_partial/sections/job_scheme.html' %}
        <!-- //Section - Job Scheme End -->

        <!-- Section - Contact Start -->
        {% include 'home/_partial/sections/contact.html' %}
        <!-- //Section - Contact End -->

        <!-- Footer Start -->
        {% include 'home/_partial/sections/footer.html' %}
        <!-- //Footer End -->

        <!-- Scroll to top -->
        <a href="#page-top" class="page-scroll scroll-to-top"><i class="fa fa-angle-up"></i></a>

        {% compress css %}
        <!-- Bootstrap CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Font Awesome CSS -->
        <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Include all css plugins (below), or include individual files as needed -->
        <link href="{% static 'assets/css/flickity.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">

        <!-- Theme CSS -->
        <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">

        <!-- Color Scheme CSS -->
        <link href="{% static 'assets/css/color_orange.css' %}" rel="stylesheet" type="text/css">
        {% endcompress %}

        {% compress js %}
        <!-- Main JS -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/tether.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

        <!-- Include all js plugins (below) -->
        <script src="{% static 'assets/js/pace.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
        <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/flickity.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

        <!-- BG Parallax -->
        <script src="{% static 'assets/js/lib/greensock/TweenMax.min.js' %}"></script>
        <script src="{% static 'assets/js/ScrollMagic.min.js' %}"></script>
        <script src="{% static 'assets/js/animation.gsap.min.js' %}"></script>

        <!-- Theme JS -->
        <script src="{% static 'assets/js/theme.js' %}"></script>
        {% endcompress %}

        {% if GOOGLE_ANALYTICS_ID %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>